body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    font-size: 17px;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #464646;
    padding: 15px 20px;
    z-index: 10;
}

header p{
    margin: 0 10px;
    align-items: center;
}

.btn{
    margin: 0 10px;
    border-radius: 50%;
    font-size: 17px;
    width: 40px;
    height: 40px;
    background-color: #fec607;
}

h1{
    font-size: 45px;
    color: #fec607;
    margin-bottom: 20px;
}

main{
    margin: 20px;
}


img{
    margin: 10px;
}

footer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    background-color: #fec607;
    padding: 10px 40px;
    color: #292929;
}


/* Para pantallas pequeñas (celulares) */
@media (max-width: 767px) {
    .imagen{
        display: flex;
        justify-content: center;
    }
}
  
  /* Para pantallas medianas (tablets) y grandes (notebooks y desktops) */
  @media (min-width: 768px) {
    .imagen{
        background-color: #fec607;
        display: flex;
        justify-content: center;
    }
}